{% extends "blog/base.html" %}


{% block content %}
<div class="container mt-4">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <hr>

    <h2>Comments</h2>
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.author }}</strong>: {{ comment.text }}</p>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>

    <hr>

    <h2>Add a comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
</div>
{% endblock %}
