{% extends "blog/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Third Post</h1>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    {% if third_post %}
                    <p class="card-text">{{ third_post.content|safe|truncatewords:50 }}</p>
                    {% else %}
                    <p class="card-text">No third post available.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://via.placeholder.com/300x200" class="card-img" alt="Post Image">
            </div>
        </div>
    </div>
</div>

    
</body>
</html>

{% endblock content %}