{% include "blog/navbar.html" %}

{% block content %}
{% block title %}<title>Su di me</title>{% endblock title %}
<div class="global indent">
    <!--content-->
    <div class="container margBot">
        <div class="row">  
            <article class="col-lg-8 col-md-8 col-sm-7">
                <h3>In a nutshell about us</h3>
                <p><strong>Lorem ipsum dolor sit aed ut perspiciatis unde omnis iste met conse.</strong><br>Vivamus id mauris mauris. Mauris tempus nisl non lacus sodales, a blandit enim lobortis. Donec sodales mi Aenean porttitor ac odio in vulputate. Morbi non magna sit amet nibh adipiscing rhoncus duis et sapien solliciest erat, placerat sed risus sit amet, pharetra adipiscing enim. Aliquam non ultrices neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <a href="#" class="btn-default btn2"><span>read more</span><i class="fa fa-arrow-circle-right"></i></a>
            </article>
            <article class="col-lg-8 col-md-8 col-sm-7 teamBox">
                        
    </div>
</div>
{% include 'blog/footer.html' %}
{% endblock %}
