<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="top"></div>
            <article class="col-lg-3 col-md-6 col-sm-6 col-lg-offset-3 box">
                <h2>Contact Us</h2>
                <div class="info-box">
                    <p><em>Freephone:</em>+1 800 559 6580<br><em>Telephone:</em>+1 959 603 6035<br>FAX:+1 504 889 9898</p>
                    <p>E-mail: <a href="#">mail@demolink.org</a></p>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-sm-6 box">
                <h2>Locations</h2>
                <p>8901 Marmora Road<br>Glasgow, DO4 89GR.</p>
                <a href="#" class="lnk">Get Directions</a>
            </article>
            <article class="col-lg-12 col-md-12 col-sm-12">
                <p class="lg">Pilates Studio</p>
                <p>Pilates Studio &copy; <em id="copyright-year"></em> <br><i>&bull;</i> <a href="index-5.html">Privacy Policy</a></p>
            </article>
        </div>
    </div>
  <!-- {%FOOTER_LINK} -->
</footer>