{% block content %}
<article class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1">
    <h3>Categories</h3>
    <ul class="list1-1">
        <li><a href="#">Lorem ipsum dolor sit adipiscing</a></li>
        <li><a href="#">Sus ut felis orci sed triste</a></li>
        <li><a href="#">Tristique diama phare tralibero</a></li>
        <li><a href="#">Fermentum lorem ipsum dolor sit</a></li>
        <li><a href="#">Adipiscing elitsus ut  felis orcise </a></li>
        <li><a href="#">Tristique diama phare tralibero</a></li>
        <li><a href="#">Fermentuma lorem ipsum dolor </a></li>
    </ul>
    <h3>Archives</h3>
    <ul class="list1-1">
        <li><a href="#">June 2013</a></li>
        <li><a href="#">May 2013</a></li>
        <li><a href="#">April 2013</a></li>
        <li><a href="#">March 2013</a></li>
        <li><a href="#">February 2013</a></li>
        <li><a href="#">January 2013</a></li>
        <li><a href="#">December 2012</a></li>
        <li><a href="#">November 2012</a></li>
        <li><a href="#">October 2012</a></li>
    </ul>
</article>
</div>
</div>
</div>
{% endblock content %}
