{% load static %}
{% block content %}

<body>
    <article class="slider">
        <div class="camera_wrap">
            <div data-src="{{ 'https://via.placeholder.com/800x600' }}">
                <div class="camera-caption fadeIn">
                    <h1 class="navbar-brand navbar-brand_">
                        <a href="index.html">Pilates Studio<span>Keeping body balanced</span></a>
                    </h1>
                    <p class="title"><span>Physical</span><br><span>fitness system</span></p>
                </div>
            </div>
        </div>
    </article>
    {% endblock content %}
